<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fh.mapper.MerchandiseMapper" >

    <select id="getProdecuBytypeId" resultType="com.fh.po.Merchandise">
        select id,name,img,price from shop_merchandise
        <if test="typeId != null">
            where typeId = #{typeId} order by id desc
        </if>
    </select>

    <update id="updateProductCount">
        /* 保证 商品的超卖问题    uopdate  add  delete  返回影响的数据条数*/
        update shop_merchandise set stock=stock-#{count} where id=#{id} and stock-#{count}>=0
    </update>

</mapper>
